/* ------------ Reset CSS ------------ */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    position: relative;

}

/* ------------ Section Navigation ------------ */

.menu-desktop {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #29323f2d;
    position: fixed;
    z-index: 9999;
}

.menu-desktop-bg-lighter {
    background: #29323f2d;
    transition: all 0.5s ease-in-out;
}

.menu-desktop-bg-darker {
    background: #29323F;
    transition: all 0.5s ease-in-out;
}

.nav-logo a {
    text-decoration: none;
    display: flex;
}

.nav-logo p:nth-child(1) {
    margin-right: 10px;
}

.nav-logo p::first-letter {
    color: #A32B3E;
}

.nav-logo p {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.nav-items {
    display: flex;
}

.nav-items a {
    text-decoration: none;
}

.nav-items a li {
    font-size: 14px;
}

.nav-items a li:hover {
    transition: all 0.1s ease-in-out;
    color: #A32B3E;
}

.nav-item {
    list-style-type: none;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.menu-hamburger {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.icon-menu-hamburger {
    width: 25px;
    filter: invert(100%) sepia(6%) saturate(7498%) hue-rotate(235deg) brightness(115%) contrast(91%);
}

.menu-small-screen {
    display: none;
    height: 100vh;
    overflow: hidden;
}

.menu-small-screen a {
    display: none;
}

.menu-small-screen a:hover {
    color: #A32B3E;
}



/* ------------ Responsive Section Navigation ------------ */

@media screen and (max-width: 768px) {

    .menu-desktop {
        justify-content: space-between;
        padding: 0 20px;
        background: transparent;
        position: absolute;
    }
    
    .nav-items {
        display: none;
    }
    
    .menu-hamburger {
        display: flex;
    }

    .menu-small-screen {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 800px;
        background: #1F1E1F;
        transition: left 0.5s ease-in-out;
        color: #fff;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .menu-small-screen a {
        text-decoration: none;
        list-style-type: none;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1.5px;
        margin: 15px;
        display: block;
        font-size: 20px;
    }

    .display-menu-small-screen {
        left: 0;
    }

    .txt-menu-hover {
        position: absolute;
        color:#232123;
        font-size: 70px;
        font-weight: bold;
        z-index: -1;
        text-align: center;
        width: 100%;
        letter-spacing: 30px;
        transition: all 150ms ease-in-out;
        opacity: 0;
    }

    .menu-small-screen a:hover ~ .txt-menu-hover {
        letter-spacing: 0px;
        opacity: 1;
    }
}

@media screen and (max-width: 425px) {
    .txt-menu-hover {
        font-size: 60px;
    }
}

@media screen and (max-width: 375px) {
    .txt-menu-hover {
        font-size: 50px;
    }
}




/* ------------ Section Hero ------------ */

.hero-section {
    height: 100vh;
    background-image: url('./ressources/laptop-retouche.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.container-txt-hero-section {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding: 0 10px;
}

.title-portfolio {
    font-size: 55px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.name-portfolio {
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000;
}

.bloc-btn-hero-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-hero-section {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border: 2px solid #fff;
    padding: 15px 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


.btn-hero-section:hover {
    background: rgba(0, 0, 0, 0.158);
    transition: all 0.2s ease-in-out;
}


/* @keyframes slideLeftToRight {
    0% {
        left: -100%;
    }

    40% {
        left: 0;
    }

    60% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}


@keyframes opacity0To100 {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */


/* ------------ Responsive Section Hero ------------ */

@media screen and (max-width: 768px) {

    .container-txt-hero-section {
        margin-left: 5%;
    }

    .title-portfolio {
        font-size: 40px;
    }

    .name-portfolio {
        font-size: 25px;
    }

    .btn-hero-section {
        margin-top: 10px;
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        border: 2px solid #fff;
        padding: 15px 15px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

}


@media screen and (max-width: 425px) {
    
    .container-txt-hero-section {
        margin: auto 0;
    }

    .title-portfolio, .name-portfolio {
        text-align: center;
    }

    .title-portfolio {
        font-size: 40px;
    }

    .name-portfolio {
        font-size: 30px;
    }

    .bloc-btn-hero-section {
        justify-content: center;
    }
}



/* ------------ Section Projects ------------ */

.project-section {
    padding: 50px 0;
}

.title-section {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.title-project {
    text-align: center;
    padding: 0 20px;
    margin: 20px 0;
}

.title-section::first-letter { 
    color: #A32B3E; 
}

.container-card-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-project {
    width: 600px;
    height: 500px;
    background: #404142;
    margin: 40px;
    padding: 20px;
    background-image: url('./ressources/laptop-retouche.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-project-content {
    margin: 10px;
}

.card-project-content h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 5px;
}

.techno-project {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 12px;
    cursor: default;
}

.techno-project:hover {
    transition: all 0.1s ease-in-out;
    background: rgba(0, 0, 0, 0.151);
}

.description-project {
    margin-top: 5px;
    color: #fff;
    margin-bottom: 15px;
}

.container-btn-project {
    display: flex;
    flex-wrap: wrap;
}

.btn-project {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    width: 130px;
    border-radius: 1px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn-project:nth-child(1) {
    margin-right: 20px;
}

.btn-project:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.btn-preview-project {
    background: #7769D9;
}

.btn-preview-project p {
    color: #fff;
}

.btn-preview-project img {
    width: 10px;
    margin-right: 10px;
    filter: invert(99%) sepia(2%) saturate(7368%) hue-rotate(189deg) brightness(112%) contrast(100%);
}

.btn-code-source-project {
    background: #fff;
}

.btn-code-source-project img {
    width: 15px;
    margin-right: 10px;
}



/* ------------ Responsive Section Projects ------------ */


@media screen and (max-width: 768px) {

    .project-section {
        padding: 20px 0;
    }

    .title-section {
        font-size: 35px;
    }
    
    .container-card-projects {
        flex-direction: column;
    }

    .card-project {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {

    .title-section {
        font-size: 30px;
    }

    .card-project {
        width: 95%;
    }

}




/* ------------ Section About ------------ */

.about-section {
    background: #292E37;
    display: flex;
    justify-content: center;
}

.container-txt-about {
    width: 700px;
    padding: 75px 40px;
}

.title-about {
    color: #fff;
}

.container-txt-about video {
    display: none;
}

.container-txt-about p {
    color: #fff;
    margin: 20px 0;
}

.container-txt-about a {
    text-decoration: none;
    color: #fff;
    background: #6A65D1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 2px;
}

.container-txt-about a:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.container-video-about {
    width: 600px;
    padding: 75px 20px;
}

.container-video-about video {
    width: 100%;
}


/* ------------ Responsive Section About ------------ */



@media screen and (max-width: 768px) {

    .about-section {
        display: flex;
        flex-direction: column;
    }

    .container-txt-about {
        width: 100%;
        padding: 75px 75px;
    }

    .title-about {
        text-align: center;
    }

    .container-video-about {
        display: none;
    }

    .container-txt-about video {
        display: block;
        width: 100%;
        padding: 50px 0;
    }
}


@media screen and (max-width: 425px) {

    .container-txt-about {
        padding: 50px 30px;
    }

    .container-txt-about video {
        padding: 30px 0;
    }
}